<p>
  Die Grenzstadt Basel liegt am südlichen Ende der Oberrheinischen Tiefebene und am westlichen Anfang der Hochrheinebene am Dreiländereck Schweiz-Deutschland-Frankreich und hat aus diesem Grund Vororte in allen drei Ländern. In der trinationalen Agglomeration der Stadt leben rund 830'000 Einwohner,[4] während in der grossräumigeren Metropolregion Basel etwa 1,3 Mio. Einwohner leben. Die Bewohner Basels werden Basler genannt (bzw. Stadtbasler zur Differenzierung von den Bewohnern des Kantons Basel-Landschaft). 
</p>
